<section class="about">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Acerca de Y</h1>
                <p class=" text-center">Descubre más sobre nuestra red social</p>
                <div class="mt-4">
                    <p>Y es una plataforma innovadora diseñada para conectar a las personas y permitirles compartir ideas, pensamientos y momentos importantes de su vida. Inspirada en la simplicidad y la eficacia, Y ofrece una experiencia única de interacción social, centrada en la facilidad de uso y en una comunidad vibrante.</p>
                    <p>Desde su lanzamiento, Y ha crecido exponencialmente, reuniendo a usuarios de todo el mundo en un espacio donde la libertad de expresión y el respeto mutuo son fundamentales. Con una variedad de herramientas y características, Y se esfuerza por ser un lugar donde todos puedan sentirse escuchados y valorados.</p>
                </div>
            </div>
        </div>
    </div>
</section>